<p style="color: green"><%= notice %></p>

<h1>Leagues</h1>

<div id="sports">
  <% @sports.each do |sport| %>
    <%= render sport %>
    <p>
      <%= link_to "Show this league", sport %>
    </p>
  <% end %>
</div>

